**Q1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.**

select name, salary from employeess as emp1 where 5-1 = (select count(distinct salary) from employeess as emp2 where emp2.salary > emp1.salary);

**Q2. Write an SQL query to fetch the list of employees with the same salary.**

select salary, group_concat(name seprator ',') from employee group by salary